.footer{
    max-width: 100%;
    max-height: auto;
    background-image: url("../../assets/gradient.png");
    position: relative;

    bottom: 0;
   
}

.quote{

    text-align: center;
    font-family: 'Cormorant Garamond', Garamond, Georgia, serif;
    color: #1f1f1f;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: auto;
}

.emailDiv {
    max-width: 100%;
    max-height: auto;
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.email {
   
    font-family: 'Encode Sans', sans-serif;
    font-weight:lighter;
    font-size: 100%;
    color: #353535;
    text-decoration: none;
    /* max-width: 100%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto; */
    
  
}
