
.mainNav {
  /* margin: max-height;
  border:1px; */
  /* max-width: 100%; */
  /* max-height: auto; */
  /* overflow: auto; */
  /* position: sticky;
  position: -webkit-sticky;
  top:0;
  border-bottom: solid 2px #000000;
  will-change:transform;
  font-family: 'Encode Sans', sans-serif; */
  /* align-content: space-evenly;
  */
}

.navList {
  /* list-style:none;
  box-sizing: border-box; */
  overflow: auto;
  background-color: #72A603;
  max-width:100%;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  /* max-height: 100%;
  will-change:transform;
  object-position: center;
  padding:0px, 50%; */
  
}

/* .navList li {
  display: inline;
  box-sizing: border-box;
  max-width: 16.67%;
  max-height: auto;
  border-right: 1px solid #1f1f1f;
  
} */

.issue {
float : right;
border-right: 0;
color: #1f1f1f;
font-size: 30px;
padding:10px;
display: inline;
text-decoration: none;
max-width: 16.67%;
max-height: auto;
text-align: center;
overflow: auto;
background-color: #72A603;
}

.navListItem {
background-color: #72A603;
float: left;
color: #1f1f1f;
font-size: 30px;
padding: 10px;
/* display: inline; */
/* box-sizing: border-box; */
text-decoration: none;
text-align: center;
border-right: 1px solid #1f1f1f;
max-width: 16.67%;
max-height: auto;
/* overflow: auto; */
/* max-height: auto; */
}

NavLink .selected{
  background-color: #365902;
  float: left;
  color: #1f1f1f;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #1f1f1f;
  max-width: 16.67%;
  max-height: auto;

}

/* .headerLogoDiv {
  margin-top: 0;
  max-width: 100%;
  max-height: auto;
  background-clip: padding-box;
  background-color: #1f1f1f;
}

.logoHeader{
  border: 0;
  overflow: hidden visible;
  max-width: 100%;
  max-height: auto;  
} */