* {
  margin: 5px;
  border:5px;
  padding:5px;
  box-sizing:border-box;
  font-family: 'Sawarabi Mincho', sans-serif , Garamond, serif;
  }

  body{
    background-color: #404040;
  }

  header {
    margin: 0px;
    border:2px;   
    border-radius: 20px;
    padding:0px;
    max-width: 100%;
    max-height: 100%;
    background-color: #272626;
    box-shadow: -2px -2px 2px #000000;
    
   
  }

.pic {
  border:0px;
  padding:0px;
  display:block;
  margin-left: auto;
  margin-right:auto;
  max-width: 40%;
  max-height: auto;
  background-color: #272626;
  background-size: 100%;
  object-fit: scale-down;
}

.h {
  font-family: 'Lancelot', Garamond, serif;
 
}

.nav {
  
  margin: 0px;
  border:1px;
  border-radius: 10px;
  padding:0px;
  max-width: auto;
  max-height: auto;
  background-color: #B3B3B3;
  overflow: auto;
  align-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: solid 2px #000000;
  box-shadow: -1px -1px 1px 1px #808080;
   font-size: 30px;
  
}

.nav a{
  padding: 0px;
  display: block, flex;
  text-decoration: none;
  letter-spacing: .5px;
  text-align: center;
 
  
}

.material-icons {
  display: inline;
  margin:1px;
  font-size: 30px;
  
}

.topPic{
  display:block;
  margin: 0px;
  border:1px;
  border-radius: 10px;
  padding:0px;
  box-shadow: -1px -1px 1px 1px #808080;
}

.topgradient {
  display:block;
  margin: 0px;
  border:0px;
  padding:0px;
  max-width: 100%;
  max-height: auto;
}

a.active {
  font-size: small;
}

.home {
  color: #2585D9;
  text-shadow: -.5px -.5px  #0D2F4D;
  float:left;
   border-right: solid 2px #000000;
}

.personal {
  color: #049DD9;
  text-shadow: -.5px -.5px #02374D;
  float:left;
   border-right: solid 2px #000000;
}

.join{
  color: #038C8C;
  text-shadow: -.5px -.5px #024D4D;
  float:left;
  border-right: solid 2px #000000;
}

.about {
  color: #365902;
  text-shadow: -.5px -.5px  #172601;
  float:left;
  border-right: solid 2px #000000;
}

.trip{
  color: #72A603;
  text-shadow: -.5px -.5px #4F7302;
  float: left;
   border-right: solid 2px #000000;
}

.issue {
  color: #700099;
  text-shadow: -.5px -.5px  #4B0066;
  float: left;
  /* border-left:solid 2px #000000; */
}