
input, button{
  background: #049DD9;
  border: #02374D;
  
}
.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535353;
}

form {
    display: block;
    position: relative;
  }
  form:after{
    content: '';
    display: block;
    position: absolute;
    top: -5;
    left: -5;
    bottom: -5;
    right: -5;
    z-index: 1;
    background-color: #d8d8d8;
    border: #1f1f1f;

  }
  form.inner-form{
    position: relative;
    display: block;
    background-color: #2585D9;
    border: #0D2F4D;
    padding: 30px;
    z-index: 2;
  }
  form .form-inner h2{
    color: #868686;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 5px;
  }

  form .form-inner .form-group label{
    display: block;
    color: #535353;
    font-size: 12px;
    margin-bottom: 5px;
    transition: .45s;
  }
form .form-inner .form-group:focus-within label{
  color:#038C8C;
}
form .form-inner .form-group input{
  display: block; 
  width: 100%;
  padding: 10px 15px;
  background-color: #038C8C;
  border-radius: 8px;
  transition: .4s;
}
form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px #1f1f1f;

}
